/* Sermon Manager CSS http://www.wpforchurch.com/plugins/sermon-manager/ */


/* controls padding around video embeds */
div.wpfc_sermon-video {
	margin: 10px 0 10px;
	max-width: 100%;
}

#wpfc_sermon iframe, #wpfc_sermon object, #wpfc_sermon embed{max-width: 100%;}

/* controls padding around audio player */
div.wpfc_sermon-audio {
	margin: 10px 0 10px;
	max-width: 100%;
}

.wpfc_date {
	text-transform: uppercase;
	font-size:.8em;
}

#wpfc_sermon_sorting {
	padding: 10px 0 10px;
}

/* Recent Sermon Widget */
.widget_recent_sermons ul {
	margin-left: 0px!important;
}
.widget_recent_sermons li {
	padding-left: 18px;
	background: url(icons/mic-icon.png) no-repeat left;
	list-style: none;
	margin: 0;
}
.widget_recent_sermons span {
	font-size:.75em;
	font-color: #444444;
	margin: 0;
}


#sermon-navigation {padding-bottom: 15px;}

/* WP Pagenavi Styles */
.wp-pagenavi {
font-size:12px;
display:block;
clear:both;
padding:20px 0px 20px 10px;
}
.wp-pagenavi a,
.wp-pagenavi a:link,
.wp-pagenavi a:visited,
.wp-pagenavi a:active {
    padding: 4px 8px !important;
    margin: 3px !important;
    text-decoration: none !important;
    border: 1px solid #C8C8C2 !important;
    background: #FCFCFC !important;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    color: #999 !important;
}

.wp-pagenavi a:hover {
    border: 1px solid #a7a7a3 !important;
    color: #444 !important;
}

.wp-pagenavi span.pages {
    padding: 4px 8px !important;
    margin: 3px !important;
    font-style: italic !important;
    color: #999 !important;
}

.wp-pagenavi span.current {
    padding: 4px 8px !important;
    margin: 3px !important;
    text-decoration: none !important;
    border: 1px solid #a7a7a3 !important;
    background: #FCFCFC !important;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    font-weight: bold !important;
    color: #444 !important;
}

.wp-pagenavi span.extend {
    padding: 4px 8px !important;
    margin: 3px !important;
    text-decoration: none !important;
    border: 1px solid #C8C8C2 !important;
    background: #FCFCFC !important;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
}

/* Verse Popup Styles */
.bibly_popup_outer{font-size:1.2em;}
.bibly_popup_footer {display:none;}

/*styles for additional files*/
.single-wpfc_sermon a[href$='.ppt'], .single-wpfc_sermon a[href$='.pptx'] {
	background:url(icons/ppt.png) no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}
.single-wpfc_sermon a[href$='.doc'], .single-wpfc_sermon a[href$='.rtf'], .single-wpfc_sermon a[href$='.docx']  {
	background:url(icons/word.png) no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}
.single-wpfc_sermon a[href$='.pdf'] {
	background:url(icons/pdf.png) no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}
.single-wpfc_sermon a[href$='.mp3'] {
	background:url(icons/audio.png) no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}
.single-wpfc_sermon a[href$='.mp4'] {
	background:url(icons/video.png) no-repeat center left;
	padding-left:20px;
    height: 16px;
	line-height: 16px;
}